<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="emailClient" class="dev.mayank.emailApp.v1.EmailClient">
        <!-- <constructor-arg ref="advancedSpellChecker"/>-->
        <property name="spellChecker" ref="advancedSpellChecker"/>
    </bean>

    <bean id="basicSpellChecker" class="dev.mayank.emailApp.v1.BasicSpellChecker"/>

    <bean id="advancedSpellChecker" class="dev.mayank.emailApp.v1.AdvancedSpellChecker"/>
</beans>