body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
    font-size: 1.5em;
    margin-top: 0;
}

h2 {
    text-align: center;
    color: #007bff;
}

span {
    color: #007bff;
}

ul {
    list-style-type: none;
    color: #007bff;
    padding: 0;
}

ul li {
    color: #007bff;
}