<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thymeleaf Demo Project: Exercise3 # Processing Student Form.</title>
    <link rel="stylesheet" th:href="@{/css/processForm.css}">
</head>
<body>
<div class="container">
    <h1>| Student Confirmation Page |</h1>
    <br>
    <h2>The Student is confirmed</h2>
    <br>
    <span>Student Name: <span th:text="${student.firstName} + ' ' + ${student.lastName}" /></span>
    <br>
    <span>Country: <span th:text="${student.country}" /></span>
    <br>
    <span>Favorite Programming Language: <span th:text="${student.favoriteLanguage}" /></span>
    <br>
    <span>Favorite Operating Systems:
        <ul>
            <li th:each="tempSystem : ${student.favoriteSystems}" th:text="${tempSystem}" />
        </ul>
    </span>
    <br>
</div>
</body>
</html>