<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thymeleaf Demo Project: Exercise3 # Processing Student Form.</title>

    <link rel="stylesheet" th:href="@{/css/stylesEx2.css}">
</head>
<body>
    <div class="container">
        <h1>| Student Confirmation Page |</h1>
        <br>
        <h2>The Student is confirmed</h2>
        <br>
        Student Name: <span th:text="${student.firstName} + ' ' + ${student.lastName}."/>
        <br>
        Country: <span th:text="${student.country}."/>
        <br>
        Favorite Programming Language: <span th:text="${student.favoriteLanguage}."/>
        <br>
        Favorite Operating Systems:
        <ul>
            <li th:each="tempSystem : ${student.favoriteSystems}" th:text="${tempSystem}" />
        </ul>
        <br>
    </div>
</body>
</html>